{% extends "base.html" %}

{% block title %}
    {% if modo == 'crear' %}Nuevo Producto{% else %}Editar Producto{% endif %}
{% endblock %}

{% block content %}

    <h1>{% if modo == 'crear' %}Añadir Producto{% else %}Editar Producto{% endif %}</h1>

    <div class="form-card">
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.nombre.label }}
                {{ form.nombre(class="input") }}
                {% for error in form.nombre.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.cantidad.label }}
                {{ form.cantidad(class="input") }}
                {% for error in form.cantidad.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.precio.label }}
                {{ form.precio(class="input") }}
                {% for error in form.precio.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

{% endblock %}