{% extends "base.html" %}
{% block title %}Acerca de Nosotros{% endblock %}

{% block content %}
    <h1>LIBRERIA Y PAPELERIA CUEVA</h1>

    <h2>Nuestra Historia</h2>
    <p>Somos un negocio familiar con una pasión por la lectura y la creatividad. En LIBRERIA Y PAPELERIA CUEVA, nos dedicamos a ofrecer una amplia selección de libros y productos de papelería de alta calidad, buscando inspirar a estudiantes, profesionales y amantes de la lectura.</p>

    <h2>Nuestra Misión</h2>
    <p>Proveer a nuestra comunidad de los mejores materiales educativos y de lectura, fomentando el conocimiento y la imaginación a través de un servicio amable y personalizado.</p>

    <h2>Nuestra Visión</h2>
    <p>Ser el punto de referencia para libros y papelería en la región, expandiendo nuestro catálogo y servicios para satisfacer todas las necesidades creativas y educativas de nuestros clientes.</p>

    <h2>Contacto</h2>
    <p>Para más información, contáctanos a través de nuestro correo electrónico: contacto@libreriaypapeleriacueva.com</p>
    <h2>Ubicación</h2>
    <p>Nos encontramos en Calle del Lector, #456, Ciudad de los Libros.</p>
    <h2>Redes Sociales</h2>
    <p>Síguenos en nuestras redes sociales para estar al tanto de nuestras novedades:</p>
    <ul>
        <li><a href="#" target="_blank">Facebook</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">Instagram</a></li>
    </ul>

{% endblock %}